.git/
.gitignore
.gitattributes
.gitmodules
exploits/
.clinerules

Dockerfile
docker-compose.yml
docker-compose.*.yml
docker-compose.*.yaml
compose.yml
compose.yaml
.dockerignore
.ruff_cache

*.md
docs/
README.md
.editorconfig

*.cache
*.log
*.tmp
*.temp
**/*.php~
**/*.dist.php
**/*.dist
**/._*
**/.DS_Store
**/.idea/
**/.vscode/
**/Thumbs.db

vendor/
node_modules/

public/bundles/
var/
tests/

exploits/
symfony-exploits/

.github/
.clinerules/
